{% extends 'base.html' %}
{% block content %}
<h1>Name | Quantity | Category | Id</h1>
{% for employee in products %}
    <body>{{employee}}
        <form action='' method="POST">
            <input type="hidden" name="btn_identifier" value="delete" />
            <input type="hidden" name="id" value={{employee.product_id}} />
            <input type="submit" value="Delete"/>
        </form>
        <form action='' method="POST">
            <input type="hidden" name="btn_identifier" value="edit" />
            <input type="hidden" name="id" value={{employee.product_id}} />
            <input type="submit" value="Edit"/>
        </form>
    </body><hr>
{% endfor %}
<a href="{{ url_for('download', filename='product_info.csv') }}">
    <input type="submit" value="Get .csv File"/>
</a>
<form action='' method="POST">
    <input type="hidden" name="btn_identifier" value="home" />
    <input type="submit" value="Home"/>
</form>
{% endblock %}
