{% extends 'base.html' %}
{% block content %}

<h1>{% block title %} Riptide {% endblock %}</h1>
<h2>{% block subtitle %} By Diego Gonzalez Delgado {% endblock %}</h2>
<body>
<p>
    The purpose of this web app is to experiment with the spotify api,
    so different functionality will be added as time passes, ideally I
    will be able to suggest music based on what your friends are listening to,
    or suggest music based on a given song you like.
</p>
</body>
<form action='' method = "POST">
    <p>
        {% if user %}
        <label>
            <input type = "submit" value = "Search for a Song" name="btn"/>
            <input type = "text" name="song_name">
        </label> <br>
        {% else %}
        <label>
            <input type="submit" name="btn" value="Connect Spotify" />
        </label>
            <label>
                <input type="submit" name="btn" value="Continue as Guest" />
            </label></p>
        {% endif %}
</form>

{% endblock %}

