{% extends 'base.html' %}

{% block content %}

<div style="width:95vh;height:80vh;overflow:scroll;padding:5px;">
    {% if info %}
    <ul class="list-group list-group-mine">
        {% for i in info %}
        <li class="list-group-item" style="overflow-clip-margin:10px;overflow:scroll;white-space:nowrap;text-overflow:scroll;">
            <img src="{{i['Album Art']}}" alt="Album Art" style="width:170px;height:170px;float:left;margin:10px" id="hp">
            Song: {{i["Song Name"]}}<br><br>
            Artist(s): {{i["Artist(s)"]}}<br><br>
            Album: {{i["Album"]}} <br><br>
            Year: {{i["Year"].split('-')[0]}}<br><br>
            <button class=button onclick="window.location.href='/song-suggest/{{i['uri']}}';">
                Play
            </button>
            <button class=button onclick="window.location.href='/prediction-bot/{{i['uri']}}';">
                Predict Popularity
            </button>
            <button class=button onclick="window.location.href='/song-suggest/{{i['uri']}}';">
                Song Suggestion
            </button>

        </li>
        {%endfor%}
    </ul>
    {% else %}
    <h1>No Results</h1>
    {% endif %}
    <button class=button onclick="window.location.href='/';">
        Home
    </button>
</div>
{% endblock %}
