{% extends 'base.html' %}

{% block content %}
<div style="width:95vh;height:80vh;overflow:scroll;">
    <h1>{% block Title %} About Diego Gonzalez Delgado {% endblock %}</h1>
            <p>
                I am currently a third year student at the University of Toronto pursuing a major in mathematics, and I am very passionate about what I study, as well as having an interest the field of computer science. Moreover, I am also a varsity athlete of the university with the  water polo team, of which I am the team captain. I am also a member of the Canadian senior national team for water polo, both of which have allowed me to gain extensive leadership and team work experience. </p>
            <p>
                I currently hold the position of Software Development Intern at Micro Engineering Tech Inc in Calgary, AB where I am tasked with developing, engineering, and testing high quality code to fit the needs of clients and the company alike. In this position I am gaining very valuable software development and software engineering experience in the work force, which I believe I will carry into the future at many jobs in the future, inclusive of this job in particular. I create and implement reusable and scalable code that is able to perform very well in a number of real-world applications. I am friendly, professional, detail oriented and comfortable working both in a team-environment and independently.
            </p><p>
                I have taken a number of courses at the University of Toronto relating to computer science which have offered me extensive tools in the field of computer programming. I am very experienced with Python and Java, while having fantastic understanding of data structures and algorithms. Due to everything I’ve learned from school, I have been able to make a GitHub that has some personal projects I’ve been working on in Python, as well as some school projects which display my abilities with GUIs in Java. GitHub: https://github.com/diegogonza112
            </p><p>
                I would love the opportunity to gain more knowledge in the software development field, and get to work with individuals who share interests similar to mine. If you would like to further discuss my qualifications and personal experiences in relation to this position, please feel free to contact me at diego.gonza@yahoo.com, or my cell phone number is +1 (613) 558 - 1477.
            </p>
</div>
<form action='' method="POST">
    <input type="hidden" name="btn_identifier" value="home" />
    <input type="submit" value="Home"/>
</form>
{% endblock %}
